@import '../../utils/mainStyle.scss';

.countries-container {  
    align-content: flex-start;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.countries-instructions {
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    flex: 0 1 100%;
    font-family: $nw-ffamily-desc;
    justify-content: flex-left;
}

.countries-map {
    align-items: center;
    background-color: white;
    color: white;
    display: flex;
    flex: 0 1 100%;
    font-family: $nw-ffamily-desc;
    justify-content: flex-left;
}

.back-arrow {
    @extend %nw-back-arrow;
}
