@import '../../utils/mainStyle.scss';

.info-section, .info-section-sp{
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20vw;
}

.info-section-sp {
    width: 55vw;
}

.info-section-header {
    color:$nw-primary-color;
    flex: 2 0 100%;
    font-family: $nw-ffamily-title;
    font-weight: bold;
    font-size: 1.5rem;
    order: 1;
    padding-top: 1vh;
    padding-left: 1.5vw;
}

.info-section-category {
    color:$nw-primary-color;
    flex: 2 0 100%;
    font-family: $nw-ffamily-desc;
    font-size: 80%;
    order: 2;
    padding-top: 0.5vh;
    padding-bottom: 1.6vh;
    padding-left: 1.5vw;
}

.info-section-gap {
    flex: 1 0 100%;
    padding-bottom: 1.2vh;
}

.info-section-img-src {
    width: 100%;
}

.info-section-info, .info-section-info-sm, .info-section-default-text {
    color:#000000;
    display: inline-block;
    flex: 1 0 80%;
    font-family: $nw-ffamily-desc;
    font-size: 75%;
    line-height: 2vh;
    order: 3;
    padding-right: 1vw;
    padding-left: 1.5vw;
}

.info-section-info-sm {
    text-align: center;
    padding: 0vw;
}

.info-section-default-text {
    font-size: 60%;
    padding-top: 2vh;
    padding-left: 2vw;
}

.info-section-icon, .info-section-icon-sm {
    color:#9b9b9b;
    font-size: 120%;
    order: 4;
    padding-right: 5%;
}

.info-section-vote-results {
    display: flex;
    flex: 2 2 100%;
    font-family: $nw-ffamily-desc;
}

.info-section-upvote-disp, .info-section-downvote-disp, .info-section-vote-percent {
    border-radius: 6px;
    color:#888;
    font-size: 120%;
    padding: 1% 3% 1% 3%;
}

.info-section-upvote-disp:hover, .info-section-downvote-disp:hover {
    background-color: #DDD;
}

.info-section-vote-percent {
    color: #222;
    font-weight: bold;
    padding-left: 1.5vw;
}

.info-section-icon {
    float: left;
}

.info-section-icon-sm {
    filter: gray;
    -webkit-filter: grayscale(1);
    font-size: 180%;
    width: 10%;
}

.info-section-icon-sm:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.info-section-hr {
    color:#9b9b9b;
    padding-right: 1.5vw;
}

a {
    color: #808080;
}
a:hover {
    color: #0000BB;
}