@import '../../utils/mainStyle.scss';

.attractions-container {
    display: flex;
    flex-direction: row;
}

.attractions-maps {  
    background-color: white;
    flex: 1;
}

.attractions-topten {
    background-color: black;
    flex: 1;

}
