@import '../../utils/mainStyle.scss';

.attractions-container {
    display: flex;
    flex-wrap: wrap;
}

.attractions-info {  
    align-content: flex-start;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.attractions-map {
    align-items: center;
    background-color: $nw-primary-color;
    color: white;
    display: flex;
    flex: 1 0 100%;
    font-family: $nw-ffamily-desc;
    justify-content: flex-left;
    margin: auto;
    min-height: 2.5em;
}
