@import '../../utils/mainStyle.scss';

.topten-section {
    background-color: white;
    border-radius: 50px 50px 5px 5px;
    float: right;
    margin: 2% 4% 0% 0%; 
    position: relative;
    min-height: 430px;
    min-width: 280px;
    height: 48vh;
    width: 15vw;
}

.topten-header {
    background-color: $nw-primary-color;
    border-radius: 50px 50px 0px 0px;
    padding-top: 2vh;
}

.topten-title, .topten-title-country {
    flex: 1 0 100%;
    margin: auto;
    text-align: center;
}

.topten-title-country {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1vh;
}

.topten-list {
    padding: 1vh;

}

.topten-hr {
    color: red;
}